<template>
 <div class="container-fluid h-100 no-side-padding">
   <div class="main-content">
    <div class="row h-100 w-100 no-side-padding no-side-margin">
      <div class="col-sm-12 my-auto">
        <div class="card mx-auto">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img class="card-img-top profile-img" src="../assets/nickw.png" alt="Profile Picture">
            </div>
            <div class="col-md-8 my-auto">
              <div class="card-body">
                <h3 class="card-title">Nicholas Winter</h3>
                <p class="card-text">Software Developer/Engineer/IT Technician.</p>
                <button v-if="!is.downloadingCV" class="btn btn-dark mt-4 download-cv" v-on:click="downloadCV()">
                  <strong>Download CV</strong>
                  <i class="fa fa-download"></i>
                </button>
                <button v-if="is.downloadingCV" class="btn btn-dark mt-4">
                  <strong>Download CV </strong>
                  <i class="fas fa-sync fa-spin"></i>
                </button>
                <div v-if="error.download" class="error-message">{{error.message}}</div>
                <div class="row mt-4">
                  <div class="col-12 text-center social-icons-wrapper">
                  <a href="https://bitbucket.org/NickWT/">
                    <img src="../assets/icons8-bitbucket-48.png" title="Bitbucket" alt="Bitbucket Picture">
                  </a>
                  <a href="https://github.com/PonderNick">
                    <img src="../assets/icons8-github-48.png" title="Github" alt="Github Picture">
                  </a>
                  <a href="https://www.linkedin.com/in/nicholas-winter-158a2616b/">
                    <img src="../assets/icons8-linkedin-48.png" title="Linkedin" alt="Linkedin Picture">
                  </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card mx-auto text-center">
          <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
              <li class="nav-item active">
                <a data-toggle="tab" class="nav-link" href="#about">About Me</a>
              </li>
              <li class="nav-item">
                <a data-toggle="tab" class="nav-link" href="#overview">Overview</a>
              </li>
            </ul>
          </div>
          <div class="card-body">
            <div class="tab-content">
              <div id="about" class="tab-pane active">
                <h5 class="card-title">About Me</h5>
                <p>An up-and-coming Software Developer offering solid experience in the corporate environment, encompassing two years for one of New Zealand’s largest Eftpos payment solutions providers. Privileged to have worked with some leading technical specialists and gained knowledge of a wide range of technical activities and functions.</p>
                <p>IT background is underpinned with a Bachelor of Computer Science in Software Engineering. Knowledge base is comprehensive through successful completion of this degree and I have applied it in the workplace. Passionate about technology, keep up to date with emerging trends, and have used a wide range of coding languages, frameworks and programs.</p>
                <p>Skilled in IT support, really enjoy getting alongside people and working through issues until resolution is found. Excel in fault finding, troubleshooting and root cause analysis. I’m a true team player but you can also leave me to myself and I will get on with the job. </p>
              </div>
              <div id="overview" class="tab-pane fade">
                <h5 class="card-title">Overview</h5>
                <div class="overview-content">  
                  <ul>
                    <li>
                      <a href="mailto:nickwintertaia@gmail.com?Subject=CV%20Contact%20Alert" target="_top">
                        <img src="../assets/email.svg" class="icons img-fluid">
                        <strong class="email">nickwintertaia@gmail.com</strong>
                      </a>
                    </li>
                    <br>
                    <li>
                      <a href="tel:0274929272">
                        <img src="../assets/phone.svg" class="icons img-fluid">
                        <strong class="phone"> 0274929272</strong>
                      </a>
                    </li>
                    <br>
                    <li>
                      <img src="../assets/location.svg" class="icons img-fluid">
                      <strong class="location">Auckland, New Zealand</strong>
                    </li>
                    <br>
                    <li>
                      <a href="https://www.aut.ac.nz/study/study-options/engineering-computer-and-mathematical-sciences/courses/bachelor-of-computer-and-information-sciences/software-development-major">
                        <img src="../assets/icons8-student-male-48.png" class="icons img-fluid">
                        <strong class="qualification">Bachelor's Degree in Computer and Information Sciences </strong>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
   </div>
 </div>
</template>

<script>
import CvRouter from '../data/cvRouter.vue';
import { mapState } from 'vuex';
import axios from 'axios';

export default {
  name: 'cv-about',
  data() {
    return {
      is: {
        Loading: false,
        downloadingCV: false,
      },
      error: {
        download: false,
        message: '',
      },
    };
  },
  computed: {
    ...mapState({
      loggedIn: state => state.is.loggedIn,
    })
  },
  mounted() {
    this.scrollTop();
    this.checkAuth();
    this.simulateLoading();
  },
  methods: {
    checkAuth() {
      if (this.loggedIn) {
        return;
      } else {
        this.$router.push(`/`);
      }
    },
    downloadCV() {
      this.error.download = false;
      this.is.downloadingCV = true;
      return axios({
        method: 'GET',
        url: CvRouter.endpoints.getCV,
        headers: {
          Accept: 'application/json',
          'Content-Type': 'application/json',
        },
      })
      .then((response) => {
        return this.convertBuffer(response.data.body.data);
      })
      .then((data) => {
        this.saveCV(data);
        this.is.downloadingCV = false;
      })
      .catch((error) => {
        this.is.downloadingCV = false;
        this.error.download = true;
        this.error.message = error;
      });
    },
    saveCV(fileData) {
      var element = document.createElement('a');
      var file = new Blob([fileData], {type: 'application/pdf'});

      element.setAttribute('href', URL.createObjectURL(file));
      element.setAttribute('download', 'Nicholas-Winter-CV.pdf');
      element.style.display = 'none';
      document.body.appendChild(element);
      element.click();
      document.body.removeChild(element);
    },
    convertBuffer(bufferData) {
      var buffer = new ArrayBuffer(bufferData.length);
      var res = new Uint8Array(buffer);

      for (var i = 0; i < bufferData.length; i++) {
        res[i] = bufferData[i];
      }

      return buffer;
    },
    simulateLoading() {
      this.is.Loading = true;
      setTimeout(() => {
        this.is.Loading = false;
      }, 500);
    },
    scrollTop() {
      window.scrollTo({ top: 0, behavior: 'smooth' });
    },
  }
};
</script>

<style scoped>

.main-content {
  height: 100%;
  width:100%;
}

.card {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 0;
}

.card-body {
  text-align: center;
}

.error-message {
  color: red;
}

.profile-img {
  height: 300px;
  width: 300px;
}

.overview-content {
  text-align: left;
}

.overview-content ul {
  padding-top: 1.5vh;
  padding-left: 0vw;
  list-style-type: none;
}

.overview-content a {
  color: inherit;
}

.icons {
  width: 35px;
  padding-right: 0.5vw;
}

.no-side-padding {
  padding-left: 0px;
  padding-right: 0px;
}

.no-side-margin {
  margin-left: 0px;
  margin-right: 0px;
}

@media screen and (max-width: 600px) {

.main-content {
  margin-top: 20%;
  margin-bottom: 20%;
}

.profile-img {
  height: 100%;
  width: 100%;
}

.card {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  border-radius: 0;
}

.icons {
  width: 15px;
  padding-right: 0.5vw;
}

}
</style>
