<template>
 <div class="container">
  <div class="main-content">
    <div v-if="!is.Loading">
      <div class="row">
        <h1 class="title">Experience</h1>
      </div>
      <div class="timeline">
        <div class="timeline-container left" v-on:click="displayModal('Software Developer')">
          <div class="content job1">
            <h2>2020</h2>
            <h5>January 27th 2020 – present</h5>
            <h5>Graduate Software Developer, Smartpay</h5>
          </div>
        </div>
        <div class="timeline-container right">
          <div class="content job2">
            <span v-on:click="displayModal('Level 2 IT Support Technician')">
              <h2>2019</h2>
              <h5>September 2nd 2019 – January 27th 2020</h5>
              <h5>Level 2 IT Support Technician, Smartpay</h5>
            </span>
            <hr>
            <span class="job3" v-on:click="displayModal('(AUT) Intern Front-End Software Developer')">
              <h5>May 13th 2019 - October 22nd 2019</h5>
              <h5>Intern Front-End Software Developer, Smartpay</h5>
            </span>
          </div>
        </div>
        <div class="timeline-container left" v-on:click="displayModal('Level 1 IT Support Technician')">
          <div class="content job4">
            <h2>2018</h2>
            <h5>June 19th 2018 – September 2nd 2019</h5>
            <h5>Level 1 IT Support Technician, Smartpay</h5>
          </div>
        </div>
        <div class="timeline-container right" v-on:click="displayModal('Sales Assistant')">
          <div class="content job5">
            <h2>2013</h2>
            <h5>August 16th 2013 – June 15th 2018</h5>
            <h5>Sales assistant, Bunnings Warehouse Silverdale</h5>
          </div>
        </div>
      </div>
      <cv-modal
        :modalTitle="modalTitle"
        :show="showModal"
        :on-hide="onModalHide"
        :is-processing="is.Loading"
        >
        <div class="row experience-content">
          <span v-if="modalTitle === 'Software Developer'">
            <ul>
              <li>Second promotion to a role with greater levels of responsibility and complexity</li>
              <li>Contribute to creating high quality, streamlined and efficient software using Scrum agile framework</li>
              <li>Work on multiple development activities, including design, implementation, testing and continuous integration</li>
              <li>Prepare and maintained detailed documentation for all software programs</li>
              <li>Assist with developing and maintaining internal systems</li>
              <li><strong>Technologies:</strong> AWS – NodeJS – SQL – VueJS – HTML5 – JS – CSS – GoogleAPIv4 – Git – GitFlow – SourceTree – Bitbucket – Node JS</li>
            </ul>
          </span>
          <span v-if="modalTitle === 'Level 2 IT Support Technician'">
            <ul>
              <li>Promoted to this role and in conjunction with Level 1 support activities, managed technical escalations</li>
              <li>Played a role in driving process improvements, identifying any areas of inefficiency and making recommendations for improvements</li>
              <li>Carried out advanced level troubleshooting and successfully resolved a number challenging technical problems</li>
              <li>Proactively created a centralised knowledge base in Atlassian’s Confluence as a training resource for internal staff</li>
              <li>Developed standard operating procedures for business processes</li>
            </ul>
          </span>
          <span v-if="modalTitle === '(AUT) Intern Front-End Software Developer'">
            <ul>
              <li>Secured an Internship through Auckland University of Technology</li>
              <li>Worked with technical experts and gained knowledge and skills in front-end design, implementation and testing on an internal technical support system – worked in a Scrum agile framework</li>
              <li><strong>Technologies:</strong> Vue JS – HTML5 – JS – CSS – Google API v4 – Git – Git Flow – Source Tree – Bitbucket – Node JS</li>
            </ul>
          </span>
          <span v-if="modalTitle === 'Level 1 IT Support Technician'">
            <ul>
              <li>Performed a range of technical support activities, including troubleshooting, installation and swap of equipment, and recording data using Filemaker</li>
              <li>Ensured all customers received an exceptional service experience</li>
            </ul>
          </span>
          <span v-if="modalTitle === 'Sales Assistant'">
            <ul>
              <li>Assisted customers with finding products and provided advice on product availability and use</li>
              <li>Processed cash and card payments – worked on the checkout and cashed up the till</li>
              <li>Responded to all customer enquiries and complaints quickly and effectively</li>
            </ul>
          </span>
        </div>
      </cv-modal>
    </div>
    <div v-if="is.Loading">
      <div class="row">
        <cv-loader class="title" type="xl-text"></cv-loader>
      </div>
      <div class="timeline">
        <div class="timeline-container left">
          <div class="content">
            <cv-loader type="lg-text"></cv-loader>
            <br>
            <cv-loader type="xxxl-text"></cv-loader>
            <cv-loader type="xxxl-text"></cv-loader>
          </div>
        </div>
        <div class="timeline-container right">
          <div class="content">
            <cv-loader type="lg-text"></cv-loader>
            <br>
            <cv-loader type="xxxl-text"></cv-loader>
            <cv-loader type="xxxl-text"></cv-loader>
            <hr>
            <cv-loader type="xxxl-text"></cv-loader>
            <cv-loader type="xxxl-text"></cv-loader>
          </div>
        </div>
        <div class="timeline-container left">
          <div class="content">
            <cv-loader type="lg-text"></cv-loader>
            <br>
            <cv-loader type="xxxl-text"></cv-loader>
            <cv-loader type="xxxl-text"></cv-loader>
          </div>
        </div>
        <div class="timeline-container right">
          <div class="content">
            <cv-loader type="lg-text"></cv-loader>
            <br>
            <cv-loader type="xxxl-text"></cv-loader>
            <cv-loader type="xxxl-text"></cv-loader>
          </div>
        </div>
      </div>
    </div>
  </div>
 </div>
</template>

<script>
import CvModal from '../components/cvModal.vue';
import CvLoader from '../components/cvLoader.vue';
import { mapState } from 'vuex';

export default {
  name: 'cv-experience',
  components: {
    CvModal,
    CvLoader,
  },
  data() {
    return {
      modalTitle: '',
      showModal: false,
      is: {
        Loading: false,
      },
    };
  },
  computed: {
    ...mapState({
      loggedIn: state => state.is.loggedIn,
    })
  },
  mounted() {
    this.scrollTop();
    this.checkAuth();
    this.simulateLoading();
  },
  methods: {
    displayModal(event) {
      this.is.Loading = true;
      this.modalTitle = event;
      this.showModal = true;
      this.is.Loading = false;
    },
    onModalHide() {
      this.showModal = false;
      this.modalTitle = '';
    },
    checkAuth() {
      if (this.loggedIn) {
        return;
      } else {
        this.$router.push(`/`);
      }
    },
    simulateLoading() {
      this.is.Loading = true;
      setTimeout(() => {
        this.is.Loading = false;
      }, 500);
    },
    scrollTop() {
      window.scrollTo({ top: 0, behavior: 'smooth' });
    },
  }
}
</script>

<style scoped>

.main-content {
  margin-top: 5%;
  margin-bottom: 10%;
}

.title {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
  color: whitesmoke;
}

.experience-content {
  padding-left: 15px;
  padding-right: 15px;
}

.experience-content ul {
  padding-top: 5px;
  padding-left: 20px;
  list-style-type: square;
}

.experience-content li {
  padding-top: 5px;
}

* {
  box-sizing: border-box;
}

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: whitesmoke;
  border-radius: .25rem;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
  z-index: -1;
}

.timeline-container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

.timeline-container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: whitesmoke;
  top: 15px;
  border-radius: 50%;
}

.left {
  left: -0.4%;
}

.right {
  left: 50.4%;
}

.right::after {
  left: -16px;
}

.content {
  padding: 20px 30px;
  background-color: whitesmoke;
  position: relative;
  border-radius: .25rem;
  box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.2), 0 1px 15px 0 rgba(0, 0, 0, 0.19);
  opacity: 0.9;
  transition: transform .3s; /* Animation */
}

.content:hover {
  cursor: pointer;
  transform: scale(1.01);
}

@media screen and (max-width: 600px) {

  .main-content {
    margin-top: 20%;
    margin-bottom: 20%;
  }

  .title {
    padding: 10px;
  }

  .timeline::after {
    left: 31px;
  }

  .timeline-container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  .timeline-container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  .left::after, .right::after {
    left: 4.5vw;
  }

  .right {
    left: 0%;
  }

  .left {
    right: 0%;
    left: 0%;
  }
}
</style>