<template>
 <div class="container h-100">
  <div class="main-content">
    <div class="login-form-wrapper">
      <div class="row title">
        <h1>Login</h1>
      </div>
      <div class="row login-content-wrapper">
        <div class="login-form">
          <form autocomplete="on">
            <div class="form-group">
              <label for="username-input">Username or Email address</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-user-circle"></i>
                  </span> 
                </div>
                <input type="text" class="form-control" v-model="user.username" id="username-input" placeholder="Please enter your username or email" autocomplete="on" required>
              </div>
            </div>
            <div class="form-group">
              <label for="password-input">Password</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-lock"></i>
                  </span> 
                </div>
                <input type="password" class="form-control" v-model="user.password" id="password-input" placeholder="Please enter your password" autocomplete="on" required>
              </div>
            </div>
            <div class="error-message" v-if="error.login">
              <p>{{errorMessage}}</p>
            </div>
            <div class="confirm-email-message" v-if="is.signedUp && !confirmEmail">
              <p>Please click the verfication link sent to you email</p>
            </div>
            <div class="forgot-pass">
              <button type="button" class="btn btn-link" v-on:click="displayModal('resetpassword')">Forgot Password?</button>
            </div>
            <div class="login-buttons">
              <button type="button" class="btn btn-secondary" v-on:click="displayModal('signup')">Sign Up <i class="fas fa-user-plus"></i></button>
              <button type="button" class="btn btn-success" v-on:click="login()">Log in <i class="fa fa-paper-plane"></i></button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <cv-modal
      :modalTitle="modalTitle"
      :show="showModal"
      :on-hide="onModalHide"
      :is-processing="is.Loading"
      >
      <form v-if="is.signingUp">
        <div class="form-group">
          <label for="signup-username-input">Username</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fa fa-user-circle"></i>
                </span> 
              </div>
            <input type="text" class="form-control" v-model="user.signUp.username" id="username-email-input" placeholder="Username..." autocomplete="on" required>
          </div>
        </div>
        <div class="form-group">
          <label for="signup-email-input">Email address</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fa fa-envelope"></i>
              </span> 
            </div>
            <input type="email" class="form-control" v-model="user.signUp.email" id="signup-email-input" placeholder="Email..." autocomplete="on">
          </div>
        </div>
        <div class="form-group">
          <label for="signup-password-input">Password</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fa fa-lock"></i>
              </span> 
            </div>
            <input type="password" class="form-control" v-model="user.signUp.password" id="signup-password-input" placeholder="Password..." autocomplete="on" required>
          </div>
          <button type="button" class="btn" data-toggle="collapse" data-target="#password">
            <small>Password Criteria <i class="fa fa-chevron-circle-down"></i></small>
          </button>
          <div id="password" class="collapse">
            <ul>
              <li><small>At least 8 characters</small></li>
              <li><small>one lowercase and uppercase letter</small></li>
              <li><small>one numeric digit</small></li>
              <li><small>one special character</small></li>
            </ul>
          </div>
        </div>
        <div class="form-group">
          <label for="signup-confirm-password-input">Confirm Password</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fa fa-lock"></i>
              </span> 
            </div>
            <input type="password" class="form-control" v-model="user.signUp.confirmPassword" id="signup-confirm-password-input" placeholder="Confirm password..." autocomplete="on" required>
          </div>
        </div>
        <div class="error-message" v-if="error.signUp">
          <p>{{errorMessage}}</p>
        </div>
        <div class="login-buttons">
          <button type="button" class="btn btn-secondary" v-on:click="signUp()">Sign Up <i class="fas fa-user-plus"></i></button>
        </div>
      </form>
      <form v-if="is.resetingPassword">
        <div class="form-group">
          <label for="reset-email-input">Email address</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fa fa-envelope"></i>
              </span> 
            </div>
            <input type="email" class="form-control" v-model="user.reset.email" id="reset-email-input" placeholder="Email..." autocomplete="on" required>
          </div>
        </div>
        <div class="error-message" v-if="error.reset">
          <p>{{errorMessage}}</p>
        </div>
        <div class="login-buttons">
          <button type="button" class="btn btn-secondary" v-on:click="resetPassword()">Send verification code <i class="fa fa-paper-plane"></i></button>
        </div>
      </form>
      <form v-if="is.awaitingResetCode">
        <div class="form-group">
          <label for="verification-input">Verification Code</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fa fa-key"></i>
              </span> 
            </div>
            <input type="text" class="form-control" v-model="user.reset.verificationCode" id="verification-input" placeholder="Please enter your verification code" autocomplete="on" required>
          </div>
        </div>
        <div class="form-group">
          <label for="reset-password-input">New Password</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fa fa-lock"></i>
              </span> 
            </div>
            <input type="password" class="form-control" v-model="user.reset.password" id="reset-password-input" placeholder="Please enter your new password" autocomplete="on" required>
          </div>
        </div>
        <div class="form-group">
          <label for="reset-confirm-password-input">Confirm Password</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fa fa-lock"></i>
              </span> 
            </div>
            <input type="password" class="form-control" v-model="user.reset.confirmPassword" id="reset-confirm-password-input" placeholder="Please re-enter your new password" autocomplete="on" required>
          </div>
        </div>
        <button type="button" class="btn" data-toggle="collapse" data-target="#password">
          <small>Password Criteria <i class="fa fa-chevron-circle-down"></i></small>
        </button>
        <div id="password" class="collapse">
          <ul>
            <li><small>At least 8 characters</small></li>
            <li><small>one lowercase and uppercase letter</small></li>
            <li><small>one numeric digit</small></li>
            <li><small>one special character</small></li>
          </ul>
        </div>
        <div class="confirm-email-message" v-if="is.awaitingResetCode">
          <p>Please check your email for a verification code</p>
        </div>
        <div class="error-message" v-if="error.verify">
          <p>{{errorMessage}}</p>
        </div>
        <div class="login-buttons">
          <button type="button" class="btn btn-secondary" v-on:click="verifyResetCode()">Reset password <i class="fa fa-paper-plane"></i></button>
        </div>
      </form>
      <div v-if="changedpassword" class="text-center">
        <h5>Your password has been successfully changed!</h5>
      </div>
    </cv-modal>
  </div>
 </div>
</template>

<script>
import CvModal from '../components/cvModal.vue';
import { Auth } from 'aws-amplify';
import { mapState } from 'vuex';
import Store from '../store.js';

export default {
  name: 'cv-login',
  components: {
    CvModal,
  },
  data() {
    return {
      user: {
        username: '',
        password: '',
        signUp: {
          username: '',
          email: '',
          password: '',
          confirmPassword: '',
        },
        reset: {
          email: '',
          verificationCode: '',
          password: '',
          confirmPassword: '',
        }
      },
      is: {
        Loading: false,
        signedUp: false,
        resetingPassword: false,
        awaitingResetCode: false,
        signingUp: false,
      },
      error: {
        login: false,
        signUp: false,
        reset: false,
        verify: false,
      },
      changedpassword: false,
      errorMessage: '',
      confirmEmail: false,
      modalTitle: '',
      showModal: false,
    };
  },
  computed: {
    ...mapState({
      loggedIn: state => state.is.loggedIn,
    })
  },
  mounted(){
    window.scrollTo({ top: 0, behavior: 'smooth' });
  },
  methods: {
    login() {
      let username = this.user.username;
      let password = this.user.password;

      return Auth.signIn({
        username,
        password,
      }).then(() => {
        Store.commit('setAuth');
        this.$router.push(`/about`);
      }).catch((error) => {
        this.error.login = true;
        this.errorMessage = error.message;
      });
    },
    signUp() {
      let username = this.user.signUp.username;
      let email = this.user.signUp.email;
      let password = this.user.signUp.password;
      let confirmPassword = this.user.signUp.confirmPassword;
      this.clearErrors();

      return this.signUpValidations(password, confirmPassword).then(() => {
        return Auth.signUp({
          username,
          password,
          attributes: {
            email: email
          }
        }).then(() => {
          this.is.signedUp = true;
          this.onModalHide();
        }).catch((error) => {
          this.error.signUp = true
          this.errorMessage = error.message;
        });
      })
      .catch((error) => {
        this.error.signUp = true
        this.errorMessage = error;
      })
    },
    signUpValidations(password, confirmPassword) {

      if (this.user.signUp.username === '') {
        return Promise.reject('Please enter a username.');
      }

      if (this.user.signUp.email === '') {
        return Promise.reject('Please enter an email.');
      }

      if (password !== confirmPassword) {
       return Promise.reject('Passwords do not match, please re-enter your password');
      }

      if (password.length < 8) {
        return Promise.reject('Your password should contain more than eight characters');
      }

      if (!password.match(/\d/g)) {
        return Promise.reject('Your password should contain at least one number');
      }

      if (!password.match(/[!@#$%^&*(),.?"':;{}|<>+=-]/g)) {
        return Promise.reject('Your password should contain at least one special character');
      }

      if (!password.match(/[A-Z]/g)) {
        return Promise.reject('Your password should contain at least one upper case letter');
      }

      if (!password.match(/[a-z]/g)) {
        return Promise.reject('Your password should contain at least one lower case letter');
      }

      return Promise.resolve();
    },
    resetPassword() {
      return Auth.forgotPassword(this.user.reset.email)
      .then(() => {
        this.is.resetingPassword = false;
        this.is.awaitingResetCode = true;
      })
      .catch((error) => {
        this.error.reset = true;
        this.errorMessage = error.message;
      });
    },
    verifyResetCode() {
      let email = this.user.reset.email;
      let verificationCode = this.user.reset.verificationCode;
      let password = this.user.reset.password;
      let confirmPassword = this.user.reset.confirmPassword;
      
      return this.resetPasswordValidations(password, confirmPassword).then(() => {
        return Auth.forgotPasswordSubmit(
          email,
          verificationCode,
          password
        )
        .then(() => {
          this.is.awaitingResetCode = false;
          this.changedpassword = true;
        })
        .catch((error) => {
          this.error.verify = true;
          this.errorMessage = error.message;
        });
      })
      .catch((error) => {
        this.error.verify = true;
        this.errorMessage = error;
      });
    },
    resetPasswordValidations(password, confirmPassword) {
      if (this.user.reset.verificationCode === '') {
        return Promise.reject('Please enter a your verification code.');
      }

      if (password !== confirmPassword) {
       return Promise.reject('Passwords do not match, please re-enter your password');
      }

      if (password.length < 8) {
        return Promise.reject('Your password should contain more than eight characters');
      }

      if (!password.match(/\d/g)) {
        return Promise.reject('Your password should contain at least one number');
      }

      if (!password.match(/[!@#$%^&*(),.?"':;{}|<>+=-]/g)) {
        return Promise.reject('Your password should contain at least one special character');
      }

      if (!password.match(/[A-Z]/g)) {
        return Promise.reject('Your password should contain at least one upper case letter');
      }

      if (!password.match(/[a-z]/g)) {
        return Promise.reject('Your password should contain at least one lower case letter');
      }

      return Promise.resolve();
    },
    displayModal(event) {
      
      if (event === 'signup') {
        this.modalTitle = 'Sign Up';
        this.is.signingUp = true;
        this.is.resetingPassword = false;
        this.showModal = true;
      }

      if (event === 'resetpassword') {
        this.modalTitle = 'Reset Password';
        this.is.resetingPassword = true;
        this.is.signingUp = false;
        this.showModal = true;
      }      
      
    },
    onModalHide() {
      this.is.signedUp = false;
      this.is.resetingPassword = false;
      this.is.awaitingResetCode = false;
      this.changedpassword = false;
      this.showModal = false;
      this.clearFormValues();
    },
    clearFormValues() {
      this.user.username = '';
      this.user.password = '';
      this.user.signUp.username = '';
      this.user.signUp.email = '';
      this.user.signUp.password = '';
      this.user.signUp.confirmPassword = '';
      this.user.reset.email = '';
      this.user.reset.password = '';
      this.user.reset.confirmPassword = '';
    },
    clearErrors() {
      this.error.login = false;
      this.error.signIn = false;
      this.error.reset = false;
      this.error.verify = false;
    },
  }
}
</script>

<style scoped>
.main-content {
  margin-top: 25%;
  margin-bottom: 10vh;
}

.title {
  display: block;
  text-align: left;
  margin-left: 10px;
}

.login-form-wrapper {
  background: rgba(245,245,245, 0.8);
  border-radius: .25rem;
  padding: 10px;
  width: 60%;
}

.login-content-wrapper {
  margin-left: 10px;
}

.login-form {
  width: 95%;
}

.forgot-pass {
  text-align: end;
}

.forgot-pass button{
  padding-right: 0px;
  padding-bottom: 10px;
}

.login-buttons {
  text-align: end;
}

.btn {
  margin-left: 10px;
}

.error-message {
  text-align: right;
  color: red;
}

.confirm-email-message {
  text-align: right;
}

@media screen and (max-width: 600px) {

.main-content {
  margin-top: 30vh;
  margin-bottom: 10vh;
}

.title {
  text-align: left;
  margin-left: 0px;
}

.login-form-wrapper {
  background-color: whitesmoke;
  border-radius: .25rem;
  opacity: 0.9;
  padding: 10px;
  width: 100%;
}

.login-content-wrapper {
  margin-left: 0px;
}

.login-form {
  display: block;
  margin-right: auto;
  width: 90%;
}

}
</style>