<template>
 <div class="container h-100 w-100">
  <div class="main-content my-auto">
    <div class="row h-100">
      <div class="col-sm-12 my-auto">
    <div v-if="!is.Loading">
      <div class="row title">
        <h1>References</h1>
      </div>
      <div class="row">
        <div class="col-1">
        </div>
        <div class="col-10 reference-content">
            <div class="row">
              <div class="col-2">
              </div>
              <div class="col-4 reference">
                <img src="../assets/Gustavo.png" class="referee-icons" name="Gustavo" role="Head of Engineering" email="gustavo.herrera@smartpay.co.nz" mobile="0221364940" v-on:click="displayModal">
                <p><strong>Gustavo Herrera,</strong></p>
                <p><strong>Smartpay Limited</strong></p>
              </div>
              <div class="col-4 reference">
                <img src="../assets/Anslem.png" class="referee-icons" name="Anslem" role="Team Lead/SCRUM Master" email="anslem.cadelis@smartpay.co.nz" mobile="021393994" v-on:click="displayModal">
                <p><strong>Anslem Cadelis,</strong></p>
                <p><strong>Smartpay Limited</strong></p>
              </div>
              <div class="col-2">
              </div>
            </div>
            <div class="row">
              <div class="col-4 reference">
                <img src="../assets/Carlos.png" class="referee-icons" name="Carlos" role="Senior Front-End Developer" email="carlos.rosa@smartpay.co.nz" mobile="" v-on:click="displayModal">
                <p><strong>Carlos Rosa,</strong></p>
                <p><strong>Smartpay Limited</strong></p>
              </div>
              <div class="col-4 reference">
                <img src="../assets/Kirk.png" class="referee-icons" name="Kirk" role="Technical Help Desk Manager" email="kirk.delamore@smartpay.co.nz" mobile="0210442533" v-on:click="displayModal">
                <p><strong>Kirk Delamore,</strong></p>
                <p><strong>Smartpay Limited</strong></p>
              </div>
              <div class="col-4 reference">
                <img src="../assets/sean.png" class="referee-icons" name="Sean" role="Manager/Coordinator" email="" mobile="02102272498" v-on:click="displayModal">
                <p><strong>Sean Trent,</strong></p>
                <p><strong>Bunnings Silverdale</strong></p>
              </div>
            </div>    
        </div>
        <div class="col-1">
        </div>
      </div>
      <cv-modal
        :modalTitle="modalTitle"
        :show="showModal"
        :on-hide="onModalHide"
        :is-processing="is.Loading"
        >
        <div class="container">
          <div class="row overview">
            <ul>
              <li><img src="../assets/icons8-role-male-48.png" class="icons"><strong>{{role}}</strong></li>
              <br>
              <li v-if="email != ''"><a :href="'mailto:' + email + '?Subject=CV%20Contact%20Alert'" target="_top"><img src="../assets/email.svg" class="icons"></a><strong>{{email}}</strong></li>
              <br>
              <li v-if="mobile != ''"><a :href="'tel:' + mobile"><img src="../assets/phone.svg" class="icons"></a><strong>{{mobile}}</strong></li>
            </ul>
          </div>
        </div>
      </cv-modal>
    </div>
    <div v-if="is.Loading">
      <div class="row title">
        <cv-loader type="xl-text"></cv-loader>
      </div>
      <div class="row">
        <div class="col-1">
        </div>
        <div class="col-10 reference-content">
            <div class="row">
              <div class="col-2">
              </div>
              <div class="col-4 reference">
                <cv-loader type="reference-icon"></cv-loader>
                <cv-loader type="text"></cv-loader>
                <cv-loader type="text"></cv-loader>
              </div>
              <div class="col-4 reference">
                <cv-loader type="reference-icon"></cv-loader>
                <cv-loader type="text"></cv-loader>
                <cv-loader type="text"></cv-loader>
              </div>
              <div class="col-2">
              </div>
            </div>
            <div class="row">
              <div class="col-4 reference">
                <cv-loader type="reference-icon"></cv-loader>
                <cv-loader type="text"></cv-loader>
                <cv-loader type="text"></cv-loader>
              </div>
              <div class="col-4 reference">
                <cv-loader type="reference-icon"></cv-loader>
                <cv-loader type="text"></cv-loader>
                <cv-loader type="text"></cv-loader>
              </div>
              <div class="col-4 reference">
                <cv-loader type="reference-icon"></cv-loader>
                <cv-loader type="text"></cv-loader>
                <cv-loader type="text"></cv-loader>
              </div>
            </div>    
        </div>
        <div class="col-1">
        </div>
      </div>
    </div>
      </div>
    </div>
  </div>
 </div>
</template>

<script>
import CvModal from '../components/cvModal.vue';
import CvLoader from '../components/cvLoader.vue';
import { mapState } from 'vuex';

export default {
  name: 'cv-references',
  components: {
    CvModal,
    CvLoader,
  },
  data() {
    return {
      modalTitle: '',
      role: '',
      email: '',
      mobile: '',
      showModal: false,
      is: {
        Loading: false,
      },
    };
  },
  computed: {
    ...mapState({
      loggedIn: state => state.is.loggedIn,
    })
  },
  mounted() {
    window.scrollTo({ top: 0, behavior: 'smooth' });
    this.checkAuth();
    this.simulateLoading();
  },
  methods: {
    displayModal(event) {
      this.is.Loading = true;
      this.modalTitle = event.target.name;
      this.role = event.target.attributes.role.value;
      this.email = event.target.attributes.email.value;
      this.mobile = event.target.attributes.mobile.value;
      this.showModal = true;
      this.is.Loading = false;
    },
    onModalHide() {
      this.showModal = false;
      this.modalTitle = '';
    },
    checkAuth() {
      if (this.loggedIn) {
        return;
      } else {
        this.$router.push(`/`);
      }
    },
    simulateLoading() {
      this.is.Loading = true;
      setTimeout(() => {
        this.is.Loading = false;
      }, 500);
    },
  },
}
</script>

<style scoped>

.main-content {
  height: 100%;
  width:100%;
  margin-left: auto;
  margin-right: auto;
}

.title {
  padding: 20px;
  display: block;
  text-align: center;
  color: whitesmoke;
}

.reference-content {
  box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.2), 0 1px 15px 0 rgba(0, 0, 0, 0.19);
  border-radius: .25rem;
  background-color: whitesmoke;
  opacity: 0.9;
}

.referee-icons {
  width: 100px;
  border-radius: 100%;
  border: 2px solid #343a40;
}

p {
  margin-bottom: 0px;
}

.reference {
  text-align: center;
  padding: 20px;
  transition: transform .3s; /* Animation */
}

.reference:hover {
  transform: scale(1.2);
}

.reference img:hover {
  cursor: pointer;
}

.overview {
  margin-top: 10px;
}

.overview ul {
  padding-top: 10px;
  padding-left: 20px;
  list-style-type: none;
}
.overview img {
  padding-right: 10px;
}

.icons {
  width: 35px
}

@media screen and (max-width: 600px) {

  .main-content {
    margin-top: 25%;
  }

  .referee-icons {
    width: 60px;
  }

}

</style>
