<template>
<div class="container-fluid">
  <div class="main-content">
    <div class="row title">
      <h1>Skills</h1>
    </div>
    <div class="skills-content-wrapper">
      <div v-if="!is.Loading && !error.getSkills">
        <h3 class="sub-title">Languages</h3>
        <div class="row">
          <cv-card v-for="skill in skills.languages" v-bind:key="skill.id" :cardTitle="skill.skillname" :progress="skill.progress">
            <p>{{skill.description}}</p>
          </cv-card>
        </div>
        <hr>
        <h3 class="sub-title">Frameworks</h3>
        <div class="row">
          <cv-card v-for="skill in skills.frameworks" v-bind:key="skill.id" :cardTitle="skill.skillname" :progress="skill.progress">
            <p>{{skill.description}}</p>
          </cv-card>
        </div>
        <hr>
        <h3 class="sub-title">Source Control</h3>
        <div class="row">
          <cv-card v-for="skill in skills.source" v-bind:key="skill.id" :cardTitle="skill.skillname" :progress="skill.progress">
            <p>{{skill.description}}</p>
          </cv-card>
        </div>
        <hr>
        <h3 class="sub-title">Other</h3>
        <div class="row">
          <cv-card v-for="skill in skills.misc" v-bind:key="skill.id" :cardTitle="skill.skillname" :progress="skill.progress">
            <p>{{skill.description}}</p>
          </cv-card>
        </div>
      </div>
      <div class="row title" v-if="error.getSkills">
        <h1>{{error.message}}</h1>
      </div>
      <div v-if="is.Loading">
        <cv-loader type="page"></cv-loader>
      </div>
    </div>
  </div>
</div>
</template>

<script>
import CvLoader from '../components/cvLoader.vue';
import CvCard from '../components/cvCard.vue';
import { mapState } from 'vuex';
import axios from 'axios';
import CvRouter from '../data/cvRouter.vue';

export default {
  name: 'cv-skills',
  components: {
    CvLoader,
    CvCard,
  },
  data() {
    return {
      is: {
        Loading: false,
      },
      error: {
        getSkills: false,
        message: '',
      },
      skills: {
        allSkills: [],
        languages:[],
        frameworks:[],
        source: [],
        misc:[],
      }
    };
  },
  computed: {
    ...mapState({
      loggedIn: state => state.is.loggedIn,
    })
  },
  mounted() {
    window.scrollTo({ top: 0, behavior: 'smooth' });
    this.checkAuth();
    this.getSkills();
  },
  methods: {
    checkAuth() {
      if (this.loggedIn) {
        return;
      } else {
        this.$router.push(`/`);
      }
    },
    getSkills() {
      this.is.Loading = true;
      return axios({
        method: 'GET',
        url: CvRouter.endpoints.skills,
        headers: {
          Accept: 'application/json',
          'Content-Type': 'application/json',
        },
      }).then(response => {
        this.skills.allSkills = response.data.body.map(skill => ({
          id: skill.id,
          skillname: skill.skillname,
          progress: skill.progress,
          description: skill.description,
          category: skill.category
        }));
      })
      .then(() => {
        let index = 0;
        for (index = 0; index < this.skills.allSkills.length; index++) {
          if (this.skills.allSkills[index].category === 'language') {
            this.skills.languages.push(this.skills.allSkills[index]);
          } else if (this.skills.allSkills[index].category === 'framework') {
            this.skills.frameworks.push(this.skills.allSkills[index]);
          } else if (this.skills.allSkills[index].category === 'source') {
            this.skills.source.push(this.skills.allSkills[index]);
          } else {
            this.skills.misc.push(this.skills.allSkills[index]);
          }
        }
        this.is.Loading = false;
      })
      .catch((error) => {
        this.is.Loading = false;
        this.error.getSkills = true;
        this.error.message = error;
      });
    },
  }
}
</script>

<style scoped>

.main-content {
  width: 95%;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
}

.title {
  padding: 5px;
  display: block;
  text-align: center;
  color: whitesmoke;
}

.sub-title {
  width:fit-content;
  padding: 10px;
  margin-top: 20px;
  margin-right: auto;
  border-radius: .25rem;
  background: rgba(245,245,245, 0.9);
}

hr {
  border: 2px solid rgba(245,245,245, 0.9);
}

@media screen and (max-width: 600px) {
  
  .main-content {
    margin-top: 25%;
    margin-bottom: 15%;
  }

  .sub-title {
    margin-left: auto;
    margin-right: auto;
  }
}
</style>
