<template>
  <div class="card">
    <div class="card-body">
      <h4 class="card-title text-center">{{ cardTitle }}</h4>
      <slot></slot>
      <br/>
      <div class="skill-content-wrapper">
        <small>Confidence:</small>
        <div class="skill-container">
          <div 
          v-bind:class="{
            'skills eighty-percent': progress === 80,
            'skills seventy-five-percent': progress === 75,
            'skills seventy-percent': progress === 70,
            'skills sixty-five-percent': progress === 65,
            'skills fifty-five-percent': progress === 55,
            'skills fifty-percent': progress === 50,
            'skills forty-percent': progress === 40,
            'skills thirty-percent': progress === 30}"
            >
            {{ progress }}%
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: 'cv-card',
  props: {
    cardTitle: {
      type: String,
    },
    progress: {
      type: Number,
    },
  },
};

</script>

<style scoped>
.card {
  width: 20%;
  margin: 10px;
  background: rgba(245,245,245, 0.95);
  box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.2), 0 1px 15px 0 rgba(0, 0, 0, 0.19);
  transition: transform .3s; /* Animation */
}

.card:hover {
  transform: scale(1.01);
}

.skill-content-wrapper {
  position: absolute;
  bottom: 10px;
  width: 90%;
}

* {
  box-sizing: border-box
}

.skill-container {
  height: 20px;
  width: 100%;
  background-color: lightgray;
  border-radius: .25rem;
}

.skills {
  height: 20px;
  text-align: right;
  padding-right: 5px;
  padding-bottom: 10px;
  color: whitesmoke;
}

.eighty-percent {
  width: 80%;
  background-color: green;
  border-radius: .25rem;
}

.seventy-five-percent {
  width: 75%;
  background-color: orange;
  border-radius: .25rem;
}

.seventy-percent {
  width: 70%;
  background-color: orange;
  border-radius: .25rem;
}

.sixty-five-percent {
  width: 65%;
  background-color: orange;
  border-radius: .25rem;
}

.fifty-five-percent {
  width: 55%;
  background-color: orange;
  border-radius: .25rem;
}

.fifty-percent {
  width: 50%;
  background-color: orange;
  border-radius: .25rem;
}

.forty-percent {
  width: 40%;
  background-color: red;
  border-radius: .25rem;
}

.thirty-percent {
  width: 30%;
  background-color: red;
  border-radius: .25rem;
}

  @media screen and (max-width: 600px) {

    .card {
      width: 70%;
      margin: 10px;
      margin-left: auto;
      margin-right: auto;
    }
  }
</style>