<template>
  <div class="cv-loader-wrapper">
    <div
      v-bind:class="{
        'text-sm-loading': type === 'text-sm',
        'text-loading': type === 'text',
        'text-loading-large': type === 'lg-text',
        'text-loading-extra-large': type === 'xl-text',
        'text-loading-xxxl': type === 'xxxl-text',
        'image-loading': type === 'image',
        'reference-icon-loading': type === 'reference-icon',
        'profile-picture': type === 'profile-picture',
        'page-loading': type === 'page',
        'paragraph-loading': type ==='paragraph',
      }"
      >
    </div>
  </div>
</template>

<script>
  export default {
    name: 'cv-loader',
    props: {
      type: {
        type: String,
        default: 'text',
      },
    },
  };

</script>

<style scoped>
  .cv-loader-wrapper {
    opacity: 0.65;
  }

  .text-sm-loading,
  .text-loading,
  .text-loading-large,
  .text-loading-extra-large,
  .text-loading-xxxl,
  .image-loading,
  .reference-icon-loading,
  .profile-picture,
  .page-loading,
  .paragraph-loading {
    display: inline-block;
    height: 16px;
    border-radius: .25rem;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: loading;
    background: #f6f7f8;
    background: linear-gradient(to right, #EEEEEE 8%, #DDDDDD 18%, #EEEEEE 33%);
    background-size: 800px 104px;
  }

  .text-sm-loading {
    width: 60px;
  }

  .text-loading {
    width: 180px;
  }

  .text-loading-large {
    width: 220px;
  }

  .text-loading-extra-large {
    width: 250px;
  }

  .text-loading-xxxl {
    width: 100%;
    height: 30px
  }

  .image-loading {
    margin: 2px;
    height: 50px;
    width: 50px;
    border-radius: .25rem;
  }

  .reference-icon-loading {
    margin-top: 25px;
    height: 100px;
    width: 100px;
    border-radius: 100%;
  }

  .profile-picture {
    height: 490px;
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .page-loading {
    height: 80vh;
    width:  100%;
  }

  .paragraph-loading {
    margin: 10px;
    height: 80px;
    width:  650px;
  }

  @keyframes loading {
    0% {
      background-position: -468px 0;
    }
    100%{
      background-position: 468px 0;
    }
  }

  @media screen and (max-width: 600px) {

    .text-sm-loading {
      width: 25px;
    }

    .text-loading {
      width: 60px;
    }

    .text-loading-large {
      width: 100px;
    }

    .text-loading-extra-large {
      width: 125px;
    }
    
    .profile-picture {
      width: 165px;
      height: 165px;
      border-radius: 50%;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    .image-loading {
      height: 40px;
      width: 40px;
      border-radius: .25rem;
    }

    .reference-icon-loading {
      margin-top: 25px;
      height: 50px;
      width: 50px;
      border-radius: 100%;
    }

  }
</style>
