<template>
  <div ref="modal" class="modal fade" v-bind:class="{'show': showModal}">
    <div v-if="showModal">
      <div class="modal-blackscreen" v-on:click="hideModal">
      </div>
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5><strong>{{setModalTitle}}</strong></h5>
            <div v-if="!isLoading">
              <button type="button" class="close" v-on:click="hideModal">
                <i class="fas fa-times"></i>
              </button>
            </div>
          </div>
          <div class="modal-body">
            <slot></slot>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'cv-modal',
  components: {

  },
  props: {
    modalTitle: {
      type: String,
    },
    show: {
      type: Boolean,
      default: false,
    },
    onHide: {
      type: Function,
    },
    isProcessing: {
      type: Boolean,
      default: false,
    },
  },
  computed: {
    setModalTitle() {
      return this.modalTitle; 
    },
  },
  data() {
    return {
      showModal: this.show,
      bodyRef: document.getElementsByTagName('body')[0],
      isLoading: this.isProcessing,
    };
  },
  methods: {
    hideModal() {
      if (!this.showModal || this.isLoading) {
        return;
      }

      this.$refs.modal.classList.add('hide');

      setTimeout(() => {
        this.$refs.modal.classList.remove('hide');
        this.showModal = false;
        this.bodyRef.classList.remove('modal-open');
        this.onHide();
      }, this.animDuration);
    },
  },
  watch: {
    show(newVal) {
      if (newVal && !this.showModal) {
        this.showModal = true;
        this.bodyRef.classList.add('modal-open');
      }

      if (!newVal && this.showModal) {
        this.hideModal();
      }
    },
  }

}
</script>

<style scoped>
  body.modal-open .modal-blackscreen {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
  }

  .modal {
    margin-top: -40px;
    opacity: 0;
    transition: opacity .5s, margin-top .5s;
  }

  .modal.show {
    display: block;
    animation: modalShow;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  .modal.hide {
    animation: modalHide;
    animation-duration: .5s;
    animation-fill-mode: forwards;
  }

  .close:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
  }

  @keyframes modalShow {
    0% {
      opacity: 0;
      margin-top: 150px;
    }
    100% {
      opacity: 1;
      margin-top: 80px;
    }
  }

  @keyframes modalHide {
    0% {
      opacity: 1;
      margin-top: 0px;
    }
    100% {
      opacity: 0;
      margin-top: -40px;
    }
  }
</style>