<template>
<div class="nav-top">
  <div v-if="!is.Loading">
    <nav>
      <p class="cv">Nicholas Winter's CV</p>
      <span v-if="loggedIn">
        <div class="nav-bar">
          <button type="button" class="btn btn-outline-dark nav-item signout" v-on:click="logOut()">Log Out</button>
          <router-link class="nav-item" :to="{ name: 'References' }">References</router-link>
          <router-link class="nav-item" :to="{ name: 'Skills' }">Skills</router-link> 
          <router-link class="nav-item" :to="{ name: 'Experience' }">Experience</router-link> 
          <router-link class="nav-item" :to="{ name: 'About' }">About</router-link>
        </div>
        <div class="dropdown">
          <button v-on:click="openDropdown()" class="dropbtn">&#9776;</button>
          <div class="dropdown-content">
            <router-link class="nav-item" :to="{ name: 'About' }">About</router-link>
            <router-link class="nav-item" :to="{ name: 'Experience' }">Experience</router-link>
            <router-link class="nav-item" :to="{ name: 'Skills' }">Skills</router-link>
            <router-link class="nav-item" :to="{ name: 'References' }">References</router-link>
            <button type="button" class="btn btn-outline-dark nav-item signout" v-on:click="logOut()">Log Out</button>
          </div>
        </div>
      </span>
    </nav>
  </div>
  <div v-if="is.Loading">
    <nav>
      <cv-loader class="cv" type="text-sm"></cv-loader>
      <span v-if="loggedIn">
        <div class="nav-bar">
          <cv-loader class="nav-item" type="text-sm"></cv-loader>
          <cv-loader class="nav-item" type="text-sm"></cv-loader>
          <cv-loader class="nav-item" type="text-sm"></cv-loader>
          <cv-loader class="nav-item" type="text-sm"></cv-loader>
        </div>
        <div class="dropdown">
          <cv-loader class="nav-item" type="text-sm"></cv-loader>
        </div>
      </span>
    </nav>
  </div>
</div>
</template>

<script>
import CvLoader from '../components/cvLoader.vue';
import { mapState } from 'vuex';
import Store from '../store.js';
import { Auth } from 'aws-amplify';

export default {
  name: 'cv-nav-top',
  components: {
    CvLoader,
  },
  data() {
    return {
      is: {
        Loading: false,
      },
    };
  },
  computed: {
    ...mapState({
      loggedIn: state => state.is.loggedIn,
    })
  },
  mounted() {
    this.simulateLoading();
    this.setListener();
  },
  methods: {
    logOut() {
      return Auth.signOut()
      .then(() => {
        Store.commit('authSignOut');
      })
      .then(() => {
        this.$router.push(`/`);
      })
      .catch(() => {
        
      });
    },
    openDropdown() {
      var dropdown = document.getElementsByClassName('dropdown-content');
      dropdown[0].classList.add('show')
    },
    closeDropdown(event) {
      var dropdown = document.getElementsByClassName('dropdown-content');
      if (event.target.matches('.dropbtn')) {
        this.openDropdown();
      } else if (dropdown[0]){
        dropdown[0].classList.remove('show')
      } else {
        return;
      }
    },
    simulateLoading() {
      this.is.Loading = true;
      setTimeout(() => {
        this.is.Loading = false;
      }, 1000);
    },
    setListener() {
      var app = document.getElementsByClassName('app');
      app[0].addEventListener('click', this.closeDropdown, false);
    },
  },
}
</script>

<style scoped>
.nav-top {
  background-color: whitesmoke;
  box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.2), 0 1px 15px 0 rgba(0, 0, 0, 0.19);
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 10;
}

.cv {
  float: left;
  padding: 14px 16px;
  text-decoration: none;
  margin: 0px;
}

.nav-item {
  float: right;
  color: black;
  padding: 5px 10px;
  margin-top: 10px;
  text-decoration: none;
}

.nav-item:hover {
  color: darkgray;
}

.signout {
  margin-right: 5px;
}

.dropbtn {
  display: none;
  color: black;
  padding: 16px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.dropdown {
  position: relative;
  float: right;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: whitesmoke;
  width: fit-content;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border: 2px solid #343a40;
  right: 0;
  z-index: 1;
}

.dropdown-content .nav-item {
  color: black;
  padding: 12px 16px;
  text-decoration: underline;
  display: block;
}

.dropdown-content .nav-item:hover {
  color: #ddd
}

.show {
  display:block;
}

@media screen and (max-width: 600px) {

.nav-bar {
  display: none;
}

.nav-item {
  margin-top: 0px;
  width: 100%;
  border-bottom: 2px solid #343a40;
}

.btn-outline-dark {
  border: 0;
}

.signout {
  margin-right: 0px;
}

.dropbtn {
  display: block;
}

}
</style>
