<template>
  <div class="app">
    <div class="background"></div>
    <cv-nav-top></cv-nav-top>
    <router-view>
    </router-view>
  </div>
</template>

<script>
import cvNavTop from './components/cvNavTop.vue';

export default {
  name: 'app',
  components: {
    cvNavTop,
  }
}
</script>

<style>
body,
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: black;
  height: 100vh;
}

html {
  background-color: lightgray;
}

body {
  background-color: transparent;
  height: 100%;
}

.app {
  height: 100%;
}

.background {
  display: block;
  position: fixed;
  top: 0px;
  height: 105%;
  width: 100%;
  background-image: url(./assets/background.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  z-index: -1;
}

@media screen and (max-width: 1050px) {
  body,
  html {
    font-size: 10px;
    min-height: 320px;
    background-color: transparent;
  }
}
</style>
